html, body { margin:0;
             padding:0;
             height: 100%;
             overflow: hidden;
             background-color: black;
             font-family: monospace;
             }
svg { position:fixed; top:0; left:0; height:100%; width:100% }

.big-haus, .little-haus {
  fill: #f9de2a;
  position: relative;
}

.text-yellow {
  fill: #f9de2a;
  position: relative;
}

.range-slider {
  color: white;
  position: absolute;
  width: 100vw;
  font-size: 50px;
  z-index: 1;
}

.a {
  left: 48vw;
}

.b {
  left: 51.9vw;
}

.beats-line {
  position: absolute;
  height: 10px;
  width: 100vw;
  top: 50vh;
  background: #f9de2a;
}

div.vertical-line{
  width: 27px; /* Line width */
  background-color:  #f9de2a; /* Line color */
  height: 100%; /* Override in-line if you want specific height. */
  position: absolute;
  left: 50vw;
  z-index: 0;
}

img {
  position: fixed;
  height: 50vh;
  width: 50vw;
}

.top {
  top: 0;
}

.bottom {
  top: 50%;
}

.left {
  left: 0;
}

.right {
  left: 50%;
